!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title Change Me!
    %script{src:'js/libs/jquery.js'}
    %script{src:'js/libs/bootstrap.js'}
    %script{src:'js/program.js'}
    %link{href:'css/application.css', rel:'stylesheet'}
  %body
    .container
      = yield
